.DS_Store
/node_modules/

# Environment variables
.env.*
!.env.example

# React Router
/.react-router/
/build/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vitest
coverage/
